auto-install-peers=true
enable-pre-post-scripts=true
public-hoist-pattern[]=@1stg/*
public-hoist-pattern[]=@babel/types
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=@huacnlee/autocorrect
public-hoist-pattern[]=@pkgr/*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=core-js
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*/loader
public-hoist-pattern[]=*-loader
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=npm-run-all
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=rimraf
public-hoist-pattern[]=simple-git-hooks
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=tslib
strict-peer-dependencies=false
