@media (prefers-color-scheme: dark) {
  :root {
    background-color: #0d1117;
  }

  .shiki.github-dark {
    background-color: var(--shiki-dark-bg) !important;
  }

  .shiki.github-dark .line > span {
    color: var(--shiki-dark) !important;
  }
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
}
